*{
    padding: 0;
    margin: 0;
box-sizing: border-box;

}
body 
 {
height: 100vh;
width: 100%;
background-image: url(car.jpg);
background-position: center;
background-size: cover;
padding-left: 5%;
padding-right: 5%;
position: relative;
font-family: 'Times New Roman', Times, serif;
}
.menu.bar{
background-color:blue;
font family:black;
display: inline;
}
.menu.bar ul {
    display: inline-flex;
    list-style: none;
    color: darkslateblue;
}
.menu.bar ul  li {
    width: 120px;
    margin: 15px;
    padding: 15px; 
}
