
*{
    margin:0;
    padding: 0 ;
    }
    .main
    {
        width: 100%;
        background:  url(FISH4.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .navbar {
width: 1200px;
height: 75px;
margin: auto;
display: flex;
justify-content: center;
padding-left: auto;
    }
    .icon{
        width: 200px;
        float: left;
        height: 70px;
        position: absolute;
        left: 5px;
        text-align: center;
    }
    .logo{
        width: 150px;
        height: 80px;
        background: orangered;
        border: none;
        margin-top: 30px;
        font-size: 20px;
        border-radius: 10px;
        border: 3PX solid rgb(23, 114, 68);
                color: rgba(10, 243, 126, 0.986);
            }
            .menu{
               
                font-family: 'Franklin Gothic Medium';
                width: 200px;
                height: 40px;
                background-color: rgb(255, 0, 0);
                border: 3px solid orange;
                font-size: 16px;
                position: absolute;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 20px;
                
                     left: 200px;   
                     top: 30px;      
                padding-left: 500px;
                float: top;
                 }
ul{
    display: flex;
    justify-content: center;
    align-items: center;    
    position:absolute;
    left: 50px;
    top: -13px;
    height: 50px;
}
ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
font-size: 16px;
    }
    ul li a {
        text-decoration: none;
        color: white;
        font-family: Arial;
        font-weight: bold;
         float: left;
        display: flex;
        cursor: pointer;
      transition: 0.3 ease;
          font-size: 15px;
           left: 20px;
            bottom: 50px;

    }
    ul li a:hover {
        color:yellowgreen;
        transition: 4s eases;
    }
    .search {
        width: 330px;
        float: right;
        margin-left: 900px;
    }
    .srch {
        font-family: 'Franklin Gothic Medium';
        width: 200px;
        height: 40px;
        background: transparent;
        border: 1px solid orange;
        margin-top: 13px;
        color: black;
        border-right: none;
        font-size: 16px;
        float: left;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
            }
            .btn {
                width: 100px;
                height: 40px;
                background: orange;
                border: 2px solid orange;
                margin-top: 13px;
                color: white;
                font-size: 15px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .btn:focus{
                outline: none;
            }
            .srch:focus{
                outline: none;
            }
            .content{
                width: 1200px;
                height: auto;
                margin: auto;
                color: rgb(128, 4, 0);
                position: relative;
                letter-spacing: 5px;
                text-align: justify;
                 }
                 .par {
                    padding-right: 100px;
                    padding-bottom: 25px;
                    color: rgb(250, 15, 15);
                    font-family: 'Times New Roman';
                    font-weight: bold;
                    letter-spacing: 1.2px;
                    line-height: 50px;                    
                    font-size:20px;
                    margin: auto;
                    float: left;
                    
                 }
                 .content h1{
                     font-family: 'Times New Roman';
                    font-size: 50px;
                    padding-right: 30px;
                    padding-top: 200px;
                    letter-spacing: 1px;
                    font-weight:bold ;
                    color: aqua;
                    text-align: left;
                    display: flex;
                              
                }
                .content.cn {
                    width: 500;
                    height: 300px;
                    background-color: blue;
                    border: 3px solid grey;
                    margin-bottom: 10px;
                    margin-left: 20px;
                    font-size: 50px;
                    border-radius: 14px;
                    cursor: pointer;          
                }
                .cn a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3 ease;
                    font-size: 30px;
                    left: 20px;
                    bottom: 50px;
                }
                .cn:hover{
                    background: white;
                    transition: 0.4s ease;
                                    }
            .content span {
                color: orange;
                font-size: 60px;
                            }
                            .imagesmall{
                                width: 300px;
        background:  url(fish3.avif);
        background-position: center;
        background-size: 50;
        float: right;
        height: 150px;
        bottom: 10px;
        color: rgb(52, 12, 233);
        font-size: xx-large;
    }

        